*
{
	margin:0px;
	padding:0px;
}
.container
{
	width:1140px;
	margin:0 auto;
}
.sec
{
	background-image:url('Shape 1 copy 12.png');
	background-size:100% 100%;
	width:100%;
	height:650px;
	display:inline-block;
	float:left;
}
.menu
{
	width:30%;
	height:100px;
	float:left;
}
.menu img 
{
    width: 50%;
    margin-top: 15px;
    margin-left: 20px;
}
.icon
{
    margin-top:20px;
    float:right;
 
}
.icon a
{
       color:#ffffff;
      float:inherit;
}
.drop
{
    display:none;
    width:65%;
    height:120px;
    float:left;
}
.dropmenu 
{
    list-style: none;
    margin-top: 5px;
    float: left;
    width: 100px;
    display: none;
    margin-left: 55px;
}
.dropmenu li a 
{
    font-size: 11px;
    letter-spacing: 0px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
}
.icon:hover .dropmenu
{
    display: inline-block;
}
.pul
{
    display: inline-flex;
    text-decoration: none;
    float: right;
    margin-top: 35px;
    margin-right: 60px;
    list-style: none;
    display:none;
}
.pul li a 
{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding-left: 55px;
    font-family: 'Gotham',sans-serif;
    text-align: right;
}
.icon:hover .pul
{
    display:inline-block;
}
.top
{
  width:70%;
  height:100px;
  float:left;
}
.ulp 
{
    display: inline-flex;
    text-decoration: none;
    float: right;
    margin-top: 35px;
    margin-right: 60px;
    list-style: none;
}
.ulp li a 
{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding-left: 55px;
    font-family: 'Gotham',sans-serif;
    text-align: right;
}
.pt
{
	width:100%;
	height:auto;
	float:left;
}
.pt4
{
	width:50%;
	height:auto;
	float:left;
}
.t1 
{
    font-size: 100px;
    letter-spacing: 0px;
    line-height: 170px;
    padding-top:22px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 40px;
    font-family: 'Gotham',sans-serif;
}
.smallt
 {
    font-size: 15px;
    width: 340px;
    line-height: 15px;
    height: 76px;
    padding-left: 40px;
    color: #ffffff;
    font-family: 'Gotham',sans-serif;
}
.pt2
{
	width:100%;
	height:auto;
	float:left;
}
.image 
{
	width:50%;
	height:auto;
	float:left;
}
.img1 
{
    width: 100%;
    height: auto;
    margin-top: 33px;
    margin-left: 35px;
  box-shadow: 2px 2px 2px 0px #d6d6d6;
}
.img2 
{
    width: 70%;
    height: auto;
    margin-top: 33px;
    margin-left: 80px;
    box-shadow: 2px 2px 2px 0px #d6d6d6;
}
.sec1
{
	width:100%;
	height:auto;
	margin-top:330px;
	float:left;
    margin-bottom:50px;
}
.pt14
{ 
    display:none;
    width:100%;
    height:auto;
    float:left;
}
.pt15
{
    width:100%;
    height:auto;
    float:left;
    margin-left:35px;
}
.pimg 
{
    width: 85%;
    height: 130px;
    margin-left: 28px;
    float: left;
}
.img3 
{
    width: 90%;
    height: 130px;
    float: left;
    margin-left: 25px;
}
.ti 
{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 35px;
    padding-top: 70px;
    color: #4a5624;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.om
 {
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 45px;
    color: #5a5859;
    font-weight: bold;
    font-family: "Gotham",sans-serif;
    text-align: center;
    text-decoration: underline 3px solid;
    text-underline-offset: 12px;
    text-decoration-color: #4a5624;
    margin-bottom: 30px;
}
.tt1 
{
    width: 559px;
    height: 160px;
    font-size: 12px;
    padding-left: 300px;
    line-height: 20px;
    color: #959595;
    font-family: 'Gotham',sans-serif;
    text-align: center;
    margin-bottom:40px;
}
.tt11 
{
    display:none;
    width: 559px;
    height: 160px;
    font-size: 12px;
    padding-left: 300px;
    line-height: 20px;
    color: #959595;
    font-family: 'Gotham',sans-serif;
    text-align: center;
    margin-bottom:40px;
}
.pt3
{
	width:50%;
	height:auto;
	float:left;
}
.pt3 img 
{
    width: 100%;
    position: relative;
    height: auto;
    float: left;
    margin-top:6px;
    right: 70%;
}
.pt212
{
    width:50%;
    height:auto;
    float:left;
}
.pt212 img
{
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
    height: 150px;
}
.pt222
{
    width:50%;
    height:auto;
    float:left;
}
.pt222 img
{
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
    height: 150px;
}
.pt12
{
	width:50%;
	height:auto;
	float:left;
}
.pt12 img 
{
	box-shadow:1px 14px 15px 0px #d6d6d6;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
    left: 97%;
}
.sec6
{
    width:100%;
    height:auto;
    float: left;
}
.ti1 
{
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #4a5624;
    font-weight: 500;
    padding-top: 70px;
    padding-left: 75px;
    font-family: 'Gotham',sans-serif;
}
.t11
 {
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #5a5859;
    font-weight: bold;
    padding-left: 76px;
    font-family: 'Gotham',sans-serif;
    text-decoration: underline 3px solid;
    text-underline-offset: 12px;
    text-decoration-color: #4a5624;
}
.t12
 {
    width: 476px;
    padding-top: 30px;
    height: 105px;
    font-size: 20px;
    padding-left: 73px;
    line-height: 25px;
    color: #959595;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
}
.t13 
{
    width: 479px;
    height: 116px;
    padding-left: 74px;
    font-size: 14px;
    line-height: 20px;
    color: #959595;
    font-family: "Gotham",sans-serif;
}
.t113 
{
    display:none;
    width: 479px;
    height: 116px;
    padding-left: 74px;
    font-size: 14px;
    line-height: 20px;
    color: #959595;
    font-family: "Gotham",sans-serif;
}
.sec2
{
    background-image:url('Ellipse 2.png');
    background-size:100% 100%;
    float:left;
    height:550px;
    width:100%;
    display:inline-block;
}
.ti3 
{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 35px;
    padding-top: 90px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.t3
 {
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 45px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 17px;
    font-family: 'Gotham',sans-serif;
    text-align: center;
    text-decoration: underline 3px solid;
    text-underline-offset: 20px;
    text-decoration-color: #ffffff;
}
.t2 
{
    width: 664px;
    height: 105px;
    padding-left: 232px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 50px;
    color: #ffffff;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.pt5
{
    width:100%;
    height:auto;
    float:left;
}
.ppt 
{
    box-shadow: 0px 0px 2px 0px #d6d6d6;
    width: 26%;
    height: 120px;
    background-color: #ffffff;
    float: left;
    margin-left: 45px;
}
.ppt1
{
    width:40%;
    height:120px;
    float:left;
}
.ppt1 img 
{
    width: 85%;
    height: 80px;
    margin-top: 18px;
     margin-left: 20px;
}
.txt 
{
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 55px;
    padding-top: 22px;
    color: #5a5859;
    padding-left: 15px;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
}
.ppt2 
{
    width: 60%;
    height:auto;
    float: left;
}
.pt8
{
    width:32%;
    height:auto;
    float: left;
}
.txt1 
{
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 20px;
    font-family: 'Gotham',sans-serif;
}
.txxt 
{
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 55px;
    padding-top: 22px;
    color: #5a5859;
    padding-left: 25px;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
}
.txxt1 
{
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 26px;
    font-family: 'Gotham',sans-serif;
}
.txtt 
{
    font-size: 45px;
    letter-spacing: -2px;
    line-height: 55px;
    padding-top: 22px;
    color: #5a5859;
    padding-left: 9px;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
}
.txtt1 
{
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Gotham',sans-serif;
}
.sec3
{
    width:100%;
    height:auto;
    float:left;
    margin-bottom:20px;
}
.pat
{
    width:30%;
    float:left;
    height:auto;
}
.ti2 
{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 45px;
    color: #4a5624;
    font-weight: 500;
    padding-top: 70px;
    padding-left: 100px;
    font-family: 'Gotham',sans-serif;
}
.om1 {
    font-size: 35px;
    letter-spacing: -2px;
    line-height: 15px;
    color: #5a5859;
    font-weight: bold;
    padding-left: 50px;
    font-family: "Gotham",sans-serif;
    text-align: center;
}
.om2 {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 53px;
    color: #5a5859;
    font-weight: bold;
    padding-left: 107px;
    font-family: "Gotham",sans-serif;
    text-decoration: underline 3px solid;
    text-underline-offset: 20px;
    text-decoration-color: #4a5624;
    margin-bottom: 30px;
}
.image1
{
    width:70%;
    height:auto;
    float:left;
}
.image1 img 
{
    width: 75%;
    float: left;
    height: 400px;
    margin-left: 100px;
    margin-top: 75px;
    box-shadow: 0px 0px 10px 0px #d6d6d6;
}
.sec4 
{
    background-image: url('Shape 3.png');
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    display: inline-block;
    float: left;
}
.ti12 
{
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 31px;
    padding-top: 70px;
    color: #4a5624;
    font-weight: 600;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.om3 
{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #5a5859;
    text-align: center;
    font-weight: 900;
    font-family: "Gotham",sans-serif;
    text-decoration: underline 3px solid;
    text-underline-offset: 10px;
    text-decoration-color: #4a5624;
    margin-bottom: 30px;
}
.t4 
{
    width: 600px;
    height: 80px;
    padding-left: 275px;
    font-size: 14px;
    padding-top: 0px;
    line-height: 20px;
    color: #959595;
    font-family: "Gotham";
    text-align: center;
}
.img12 
{
    width: 70%;
    height: auto;
    box-shadow: 0px 0px 1px 2px #d6d6d6;
    float: left;
    margin-left: 60px;
    background-color: #ffffff;
}
.img12 img 
{
    width: 100%;
    float: left;
    height: 125px;
}
.pt13
{
    width:100%;
    float:left;
    height:auto;
}
.sec5
{
    background-image:url('Shape 1 copy 71.png');
    background-size:100% 100%;
    width:100%;
    height:400px;
    display:inline-block;
    float:left;
}
.pt21 
{
    width: 100%;
    margin-top: 40px;
    float: left;
    height: auto;
}
.get 
{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 10;
    color: #ffffff;
    height: 110px;
    padding-top: 5px;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.cod 
{
    font-size: 38px;
    letter-spacing: -2px;
    line-height: 38px;
    width: 390px;
    color: #ffffff;
    margin-left: 370px;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.ptt
{
    width:100%;
    height:auto;
    float:left;
    margin-top:25px;
}
.button 
{
    width: 210px;
    height: 50px;
    margin-left: 455px;
    background-color: #4a5624;
    border: 2px solid #ffffff;
}
.button a 
{
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 47px;
    padding-left: 45px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-decoration: none;
    text-align: center;
}
.footer
{
    width:100%;
    height:70px;
    background-image:url('Layer 48.png');
    background-size:100% 100%;
    float:left;
    display:inline-block;
}
.menu1
{
    width:30%;
    height:100px;
    float:left;
}
.menu1 img 
{
    width: 130px;
    height: auto;
    margin-top: 15px;
    margin-left: 30px;
}
.bottom
{
  width:70%;
  height:100px;
  float:left;
}
.ulp1
{
    display: inline-flex;
    text-decoration: none;
    float: right;
    margin-top: 35px;
    margin-right: 60px;
    list-style: none;
}
.ulp1 li a 
{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    padding-left: 55px;
    font-family: 'Gotham',sans-serif;
    text-align: right;
}
.bottom1
{
    width:100%;
    float:left;
    height:auto;
}
.p31
{
    width:50%;
    height:auto;
    float:left;
}
.tt2
 {
    font-size: 8px;
    letter-spacing: 1px;
    color: #afafaf;
    padding-left: 40px;
    padding-top: 15px;
}
.bottom2
{
    width:50%;
    float:left;
    height:auto;
}
.ulp2 
{
    display: inline-flex;
    text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-right: 60px;
    list-style: none;
}
.ulp2 li a 
{
   
    font-size: 10px;
    letter-spacing: 1px;   
    color: #afafaf;
    padding-left: 40px;
    padding-top: 10px;
    font-family: 'Gotham',sans-serif;
    text-align: right;
}
@media only screen and (min-width:300px) and (max-width:500px)
{
 .container
 {
  width:100%;
 }
 .sec
{
    background-image:url('Shape 1 copy 7.png');
    background-size:100% 100%;
    width:100%;
    height:425px;
    display:inline-block;
    float:left;
}
.t1 {
    font-size: 60px;
    letter-spacing: 0px;
    line-height: 170px;
    padding-top: 0px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
    text-align: center;
    font-family: 'Gotham',sans-serif;
} 
.menu img
{
    width: 85%;
    margin-top: 15px;
    margin-left: 20px;
}
.t1 
{
    font-size: 60px;
    letter-spacing: 0px;
    line-height: 110px;
    padding-top: 0px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
    text-align: center;
    font-family: 'Gotham',sans-serif;
}
.smallt 
{
    font-size: 15px;
    width: 341px;
    line-height: 15px;
    text-align: center;
    height: 50px;
    padding-left: 45px;
    color: #b5b9aa;
    font-family: 'Gotham',sans-serif;
}
.drop
{
    display:inline-block;
}
.top 
{
    display:none;
}
.icon 
{
    margin-top: 20px;
    float: right;
    margin-right: 25px;
    width: 25%;
}
.img2
{
    display:none;
}
.img1 
{
    width: 90%;
    height: auto;
    margin-top: 50px;
    margin-left: 23px;
    box-shadow: 1px 2px 2px 0px #d6d6d6;
}
.image 
{
    width: 100%;
    height: auto;
    float: left;
}
.ti 
{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 35px;
    padding-top: 0px;
    color: #4a5624;
    padding-left: 25px;
    font-weight: 600;
    font-family: 'Gotham',sans-serif;
    text-align:left;
}
.om 
{
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 45px;
    color: #5a5859;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 25px;
    font-family: "Gotham",sans-serif;
    text-align: left;
    text-decoration: underline 3px solid;
    text-underline-offset: 12px;
    text-decoration-color: #4a5624;
    margin-bottom: 30px;
}
.tt1
{
    display:none;
}
.tt11 
{
    display: block;
    width: 425px;
    letter-spacing: -1px;
    height: 160px;
    font-size: 20px;
    padding-left: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #959595;
    font-family: 'Gotham',sans-serif;
    text-align: left;
    margin-bottom: 40px;
}
.pt4 
{
    width: 100%;
    height: auto;
    float: left;
}
.pt12 img 
{
    box-shadow: 1px 14px 15px 0px #d6d6d6;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
    left: 85%;
}
.pt3 img 
{
    width: 100%;
    position: relative;
    height: auto;
    float: left;
    margin-top: 3px;
    right: 86%;
}
.ti1 
{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #4a5624;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 30px;
    font-family: 'Gotham',sans-serif;
}
.t11 
{
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 45px;
    color: #5a5859;
    font-weight: bold;
    padding-left: 35px;
    font-family: 'Gotham',sans-serif;
    text-decoration: underline 3px solid;
    text-underline-offset: 12px;
    text-decoration-color: #4a5624;
}
.t12 
{
    width: 333px;
    padding-top: 30px;
    height: 109px;
    font-size: 20px;
    padding-left: 35px;
    line-height: 25px;
    color: #959595;
    text-align: left;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
}
.t113 
{
    display: inline-block;
    width: 341px;
    height: 116px;
    padding-left: 35px;
    font-size: 14px;
    line-height: 30px;
    color: #959595;
    font-family: "Gotham",sans-serif;
}
.t13
{
   display:none;
}
.sec2 
{
    background-image: url('Ellipse 21.png');
    background-size: 100% 100%;
    float: left;
    height:850px;
    width: 100%;
    display: inline-block;
}
.img3 
{
    width: 80%;
    height: 200px;
    float: left;
    margin-left: 10px;
}
.pimg 
{
    width: 80%;
    height: 200px;
    margin-left: 12px;
    float: left;
}
.ti3 
{
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 35px;
    padding-top: 50px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.t3 
{
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 17px;
    font-family: 'Gotham',sans-serif;
    text-align: center;
    text-decoration: underline 3px solid;
    text-underline-offset: 20px;
    text-decoration-color: #ffffff;
}
.t2 {
    width: 333px;
    height: 116px;
    font-size: 14px;
    line-height: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #ffffff;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.ppt 
{
    box-shadow: 0px 0px 2px 0px #d6d6d6;
    width: 80%;
    height: 125px;
    margin-bottom: 15px;
    background-color: #ffffff;
    float: left;
    margin-left: 55px;
    margin-top: 20px;
}
.ppt1 img 
{
    width: 90%;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
.txxt1 
{
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 26px;
    font-family: 'Gotham',sans-serif;
}
.txtt1 {
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Gotham',sans-serif;
}
.image1 img
{
    display:none;
}
.pat 
{
    width: 100%;
    float: left;
    height: auto;
}
.ti2 
{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 45px;
    color: #4a5624;
    font-weight: 600;
    padding-top: 35px;
    padding-left: 50px;
    font-family: 'Gotham',sans-serif;
}
.om1 
{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 15px;
    color: #5a5859;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 50px;
    font-family: "Gotham",sans-serif;
    text-align: left;
}
.om2 
{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 53px;
    color: #5a5859;
    font-weight: bold;
    padding-left: 55px;
    font-family: "Gotham",sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
}
.pt14
{
    display:inline-block;
}
.txt1 {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 12px;
    color: #4a5624;
    font-weight: 500;
    padding-left: 20px;
    font-family: 'Gotham',sans-serif;
}
.t4 
{
    width: 330px;
    height: 80px;
    padding-left: 65px;
    font-size: 15px;
    padding-top: 0px;
    line-height: 20px;
    padding-bottom:10px;
    color: #959595;
    font-family: "Gotham";
    text-align: center;
}
.om3 
{
    font-size: 25px;
    letter-spacing: 0px;
    padding-left: 15px;
    line-height: 20px;
    color: #5a5859;
    text-align: center;
    font-weight: 900;
    font-family: "Gotham",sans-serif;
    text-decoration: underline 3px solid;
    text-underline-offset: 10px;
    text-decoration-color: #4a5624;
    margin-bottom: 30px;
}
.img12 
{
    width: 75%;
    height: auto;
    box-shadow: 0px 0px 1px 1px #d6d6d6;
    float: left;
    margin-left: 55px;
    background-color: #ffffff;
}


.img12 img 
{
    width: 100%;
    float: left;
    height: 125px;
}
.get 
{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 7;
    color: #ffffff;
    height: 85px;
    padding-top: 0px;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.cod 
{
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 32px;
    width: 190px;
    color: #ffffff;
    margin-left: 135px;
    font-weight: bold;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.sec4 
{
    background-image: url('Shape 3.png');
    background-size: 100% 100%;
    width: 100%;
    height: 450px;
    display: inline-block;
    float: left;
}
.sec5
{
    background-image:url('Layer 0 copy1.png');
    background-size:100% 100%;
    width:100%;
    height:345px;
    display:inline-block;
    float:left;
}
.button 
{
    width: 190px;
    height: 50px;
    margin-left: 142px;
    background-color: #4a5624;
    border: 2px solid #ffffff;
}
.button a 
{
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 45px;
    padding-left: 38px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Gotham',sans-serif;
    text-decoration: none;
    text-align: center;
}
.footer 
{
    width: 100%;
    height: 300px;
    margin-top: -8px;
    background-image: url('Layer 48.png');
    background-size: 100% 100%;
    float: left;
    display: grid;
}
.bottom
{
    width: 100%;
    height: 180px;
    float: left;
    order: 1;
}
.ulp1
{
    display: inline-grid;
    text-decoration: none;
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-left: 130px;
    list-style: none;
}
.menu1 
{   
    order:2;
    width: 100%;
    height: 100px;
    float: left;
}
.menu1 img
{
    width: 150px;
    height: auto;
    margin-top: 32px;
    margin-left: 154px;
}
.ulp1 li a 
{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 0px;
    padding-left: 55px;
    line-height: 2;
    font-family: 'Gotham',sans-serif;
    text-align: center;
}
.p31 
{
    width: 100%;
    height: auto;
    order: 2;
    float: left;
}
.bottom2 
{
    width: 100%;
    float: left;
    height: auto;
    order:1;
}
.ulp2 
{
    display: inline-flex;
    text-decoration: none;
    float: left;
    margin-top: 5px;
    margin-left: 90px;
    list-style: none;
}
.ulp2 li a 
{
    font-size: 11px;
    letter-spacing: 1px;
    color: #afafaf;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Gotham',sans-serif;
    text-align: right;
}
.tt2 
{
    font-size: 9px;
    letter-spacing: 1px;
    color: #afafaf;
    padding-left: 150px;
    padding-top: 15px;
}
.sec6
{
    width:100%;
    height:auto;
    float: left;
    display:grid;
}
.pt212
{
  display:none;
}
.pt222
{
  display:none;
}


}